@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan' , sans-serif;
}
body{
    background-image: url("../images/background.jpg");
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}



#navbar li{
    list-style: none;
    padding: 0 20px;

}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,#navbar li a.active{
    color: #088178;
}

#mobile{display: none; align-items: center}
#close{display: none}

#hero{
    background-image: url("../images/banner-two-puppies.jpg");
    color: #1a1a1a;
    height: 40vh;
    opacity: 0.7;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14px;
}


#hero h2{
    color: #1a1a1a;
}

#izdvojeno{
    text-align: center;
    padding: 40px 80px;
}

#izdvojeno .artikl-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#izdvojeno .artikl{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor:pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 5px;
    transition: 0.2s ease;
}
#izdvojeno .artikl:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.6);
}

#izdvojeno .artikl img{
    width: 100%;
    border-radius: 20px;
}

#izdvojeno .artikl .opis{
    text-align: start;
    padding: 10px 0;

}
#izdvojeno .artikl .opis span{
    color: #606063;
    font-size: 12px;
}

#izdvojeno .artikl .opis h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#izdvojeno .artikl .opis h4 {
    padding-top: 7px;
    font-weight: 700;
    font-size: 15px;
    color: #088178;
}

#banner {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40vh;

}

#banner h4{
    font-size:16px;
}

#banner h2{
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}


.bg-text {
    color: white;
    z-index: 2;
    position: absolute;

}

#banner .bg-image{
    background-image: url("../images/banner.jpg");
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
}

#listanje{
    padding: 40px 80px;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

#listanje a{
    margin: 5px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #088178;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    text-decoration: none;
}

#banner button{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
#banner button:hover{
    color: white;
    background-color: #088178;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #E3E6F3;
    padding: 30px;

}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;

}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer .copyright{
    width: 100%;
    text-align: center;

}

/*Forma za sortiranje*/

.input{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

#form-wrapper{
    display: flex;
    padding:10px;
    margin: 10px;
}

#form-wrapper .input{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#form-wrapper.input input,select{
    height: 45px;
    width: 80%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    margin-top: 5px;
}
.button input{
    font-size: 14px;
    font-weight: 600;
    padding: 30px 30px;
    color: #E3E6F3 ;
    background-color: #088178;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
.button input:hover {
    color: #088178;
    background-color: #E3E6F3;
}



@media (max-width: 799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:  0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color:#E3E6F3 ;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #hero{
        background-image: url("../images/banner-manji.jpg");
        background-position: top 30% right 50%;
    }
    #form-wrapper{
        flex-direction: column;

    }
    #form-wrapper input,select{
        width: 100%;
    }
    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center}
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px ;

    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 14px;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position:top 30% right 70%;
    }

    #izdvojeno .artikl-container{
        justify-content: center;
    }
    #izdvojeno .artikl{
        margin: 15px;
    }
         footer {
             display: flex;
             flex-direction: column;
         }
    
         footer .kontakt {
             margin-bottom: 20px;
         }
    
         footer .col {
             display: flex;
             flex-direction: column;
             align-items: flex-start;
             margin-bottom: 20px;
         }


}


